build/bin
node_modules
frontend/dist
objectbox/
objectboxlib/
frontend/build/
frontend/node_modules/
frontend/.svelte-kit/
frontend/.output/
frontend/.vercel/
frontend/.netlify/
frontend/.wrangler/
frontend/.env
frontend/.env.*
frontend/.env.test